<div class="main">
    <app-nav></app-nav>

    <div class="content">
        <div class="details">
            <div class="content-header">
                About
            </div>
            <div class="content-body">
                <p>Hi friends,</p>

                <p>Its Gary Long, Valley Luthiery's luthier at large.</p>

                <p>Learning to build guitars by reading books was… unsatisfying for me. I had a partially and poorly made guitar body when I realized there are
                    luthiery schools! So off I went.</p>

                <p>Luthiery school was a revelation! Guitars have always been magical to me. Somehow a luthiery education allowed me to look behind the curtain
                    without loosing any of the magical feeling the instrument has. Measurements like scale length and nut width combine with physical materials:
                    fret-wire, wood, and strings to create an instrument with an almost intangible connection to the musician wielding it. Or to the listener.
                </p>

                <p>I started Valley Luthiery in 2014 after graduating from the Roberto-Venn Guitar Making and Repair course. VL offers custom guitar and
                    amplifiers, plus minor and major repairs and restorations.</p>

                <p>I believe an instrument should integrate as seamlessly as the player wants. Some musicians want buttery action and rounded, contoured edges.
                    Others might prefer sharper edges and an instrument that pushes back! Whatever you like, I am prepared to find it for you. Let's work
                    together
                    to design your dream sound and feel!</p>

                <p>Bring your ailing effects pedals and tube amplifiers, too! Repairs, maintenance, and mods are offered for your entire rig.</p>

                <p>At Valley Luthiery, I strive to create as little waste as possible. When possible, cut-offs are used for other wood projects (frames, cutting
                    boards, trivets, etc.). Suitcases have been re-purposed as amplifier enclosures and pedalboards. I will re-use discarded, but functional
                    parts for budget minded customers - when appropriate, of course. The shop is powered by green energy in NY state. And by collecting and
                    storing packaging material, I have never had to purchase new shipping materials, with tape being the only exception.</p>

                <p>Get in touch, I'll work hard and smart to get you back on stage, in the studio, to rehearsal, or on the road!</p>

            </div>
        </div>
        <div class="photo">
            <img src="images/gary.jpg" height="450px" />
        </div>
    </div>
</div>