<div class="main">
    <app-nav></app-nav>

    <div class="content">
        <div class="details">
            <div class="content-header">
                Contact
            </div>
            <div class="content-body">
                <p>
                    Got a guitar, bouzouki, or dulcimer that needs some love? An amp that's acting up?
                    Whether it's repairs, custom electronics, or full setups, I've got you covered. Send me
                    an email with any questions. Let's get your gear playing and sounding its best!
                </p>

                <div style="font-weight: bold;">
                    <a href="mailto:gary@valleyluthiery.com">gary&#64;valleyluthiery.com</a>
                </div>
            </div>
        </div>
    </div>
</div>