<div class="main">
    <app-nav></app-nav>

    <div class="content">
        <div class="details">
            <div class="content-header">
                Contact
            </div>
            <div class="content-body">
                <p>
                    Get in touch, I'll work hard and smart to get you back on stage, in the studio, to rehearsal, or on the road!
                </p>

                <p>
                    Send me an email with you name, phone number and anything I can help you with!                    
                </p>

                <div style="font-weight: bold;">
                    <a href="mailto:gary@valleyluthiery.com">gary&#64;valleyluthiery.com</a>
                </div>
            </div>
        </div>
    </div>
</div>