<div class="main">
    <app-nav></app-nav>

    <div class="content">
        <div class="details">
            <div class="content-header">
                Contact
            </div>
            <div class="content-body">
                <p>
                    Get in touch, I'll work hard and smart to get you back on stage, in the studio, to rehearsal, or on the road!
                </p>

                <p>
                    Send me an email with you name, phone number and anything I can help you with!                    
                </p>

                <p>
                    gary&#64;valleyluthiery.com
                </p>
            </div>
        </div>
        <div class="photo">
            <img src="images/gary.jpg" height="450px" />
        </div>
    </div>
</div>