<div class="main">
    <app-nav></app-nav>

    <div class="content">
        <div class="details">
            <div>
                <div class="content-header">
                    Repairs
                </div>

                <div class="content-body">
                    <p>
                        This is only a small list of services that I offer. I will accept other jobs, of any size. Consultations and estimates are always free.
                    </p>
                    <p>
                        Work suggested in excess of an instrument’s value will be fully disclosed. Most of these jobs are declined. However, in rare
                        circumstances I
                        will consider these repairs in cases of sentimental or player’s value. Each instrument will be evaluated individually and any job may be
                        rejected.
                    </p>

                    <div class="services-list">
                        <table>
                            <tr *ngFor="let service of services">
                                <td *ngFor="let detail of service">
                                    {{detail}}
                                </td>
                            </tr>                        
                        </table>
                    </div>

                    <p>
                        * The electronics bench fee is for the inspection and assessment of electronic components. While a quick estimate can be given, in most cases these devices need to be disassembled 
                    </p>
                </div>
            </div>

            <div>
                <div class="content-header">
                    Custom Builds
                </div>

                <div class="content-body">
                    <p>
                        Most custom projects require several consultations. I like to see and hear my clients play at least once. Then we can discuss design
                        goals.
                        A player’s desires vary so much that I’ve never made the same guitar twice. As such, every guitar starts with a drawing. The design
                        inevitably requires iterations and several drawings. Once the design is approved, I will begin the build.
                    </p>


                    <p>
                        Expect 3-6 months from our beginning conversation to delivery.
                    </p>

                    <p>
                        Prices begin around $3,000 for solid body electrics and around $1,000 for tube amplifiers. Contact me for more accurate pricing based on
                        your needs.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>