$font-color: #252418;
$color-light: #E9EBF2;
$color-dark: #83947F;
$color-accent1: #844D2D;
$color-accent2: #2D406D;

$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xl: 1400px;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    // color: $font-color;
    // background-color: $color-light;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: $color-accent2
}

//Get the browser to immediately download all the images for the homepage background
//This allow the browser to already have the image cached before it show them
body::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url('images/background4_dark.jpg'), url('images/background_dark.jpg'), url('images/background3_dark.jpg'), url('images/background2_dark.jpg'),
  }