<div class="main">
    <app-nav></app-nav>

    <div class="center-logo">
        <img src="images/logo_light.png">
    </div>
</div>

<div class="services">
    <div class="services-header">
        Services
    </div>

    <div class="services-guitar">
        <div class="section">
            <div class="section-text">
                <div class="section-header">Guitars</div>
                <div class="section-content">
                    <p>
                        Built for tone, playability, and personality. My custom guitars are handcrafted to match your style, sound, and feel. Whether you’re looking for a vintage-inspired classic or something completely unique, I use quality materials and expert craftsmanship to create an instrument that's truly yours. Let's build your dream guitar.
                    </p>
                </div>
                <div class="learn-more">
                    <a [routerLink]="['/services']">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="section-img">
                <img src="images/background3.jpg" height="250px"/>
            </div>
        </div>
        <div class="section section-reverse">
            <div class="section-text">
                <div class="section-header">Amps</div>
                <div class="section-content">
                    <p>
                        Handcrafted tone, built just for you. My custom amps are designed to deliver rich, dynamic sound tailored to your playing style. Whether you're after vintage warmth, modern punch, or something completely unique, I build amps with quality components and expert craftsmanship. Let's create the perfect amp for your sound.
                    </p>
                </div>
                <div class="learn-more">
                    <a [routerLink]="['/services']">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="section-img">
                <img src="images/amp.jpg" height="250px"/>
            </div>
        </div>
        <div class="section">
            <div class="section-text">
                <div class="section-header">Repair</div>
                <div class="section-content">
                    <p>
                        From minor tweaks to major overhauls, I handle all kinds of guitar and amp repairs. Whether it's fretwork, electronics, setups, or tube amp servicing, I'll get your gear back in top shape. Quality work, fair prices, and a passion for great tone - because your instrument deserves the best.
                    </p>
                </div>
                <div class="learn-more">
                    <a [routerLink]="['/services']">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="section-img">
                <img src="images/repair.jpg" height="250px"/>
            </div>
        </div>
    </div>
</div>


<div class="contact">
    <div class="contact-header">
        Contact
    </div>
    <div class="contact-content">
        <p>
            Got a guitar that needs some love? An amp that's acting up? Whether it's repairs, custom electronics, or full setups, I've got you covered. Send me an email for expert craftsmanship and personalized service. Let's get your gear playing its best!
        </p>
        <div style="font-weight: bold;">
            <a href="mailto:gary@valleyluthiery.com">gary&#64;valleyluthiery.com</a>
        </div>
    </div>
</div>

<div class="footer">
    <div>© 2025 Valley Luthiery. All Rights Reserved.</div>
</div>